<h1>Enter a Burger!</h1>
<form class="create-form">

  <div class="form-group">
    <label for="burger-lable">Burger Name:</label>
    <input type="text" id="burger-name" name="name">
  </div>

  <button type="submit" id="burger-submit">Add Burger</button>
</form>

<h2>Burgers to eat</h2>

<div class="uneaten-burger-div">
  <table>
    {{#each burgers}}
    <tr class="table-row">
      <td class="table-first-col">{{id}}. {{name}}</td>
      <td><button class="eat-it btn btn-primary" data-id="{{id}}">Devour it!</button></td>
    </tr>
    {{/each}}
  </table>
</div>

<h2>Eaten Burgers</h2>

<div class="eaten-burger-div">

</div>